.App {
  text-align: center;
  background-color: #74798a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: wheat;
}
button {
  border-radius: 30px;
  margin-left: 30px;
}

img {
  min-height: 100px;
  min-width: auto;
  width: auto;
  height: 300px;
  margin: 10px;
  box-shadow: 5px 10px 8px 5px rgba(0, 0, 0, 0.2), 5px 10px 20px 0 rgba(0, 0, 0, 0.19);
}
