.App {
  text-align: center;
  background-color: #74798a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: wheat;
}
button {
  border-radius: 30px;
  margin-left: 10px;
}

img {
  min-height: 300px;
  min-width: auto;
  width: 100%;
  height: 100%;
}
